@import "gnews.vars.scss";

body {
    .navbar-news {
        background: $font-color-title !important;
        border-color: $font-color-title !important;
    }

    .a-news {
        color: $font-color-title !important;
        font-family: $font-family-title;
        font-size: 30px;
        font-weight: bold;
    }

    .font-bold {
        font-weight: bold;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .display-inline {
        display: inline-block;
    }

    .vertical-top {
        vertical-align: top;
    }
}
