@import "../../gnews.vars.scss";

.article-section {
    font-family: $font-family-title;
    direction: ltr;
    text-align: left;
    margin-bottom:12px !important;

    .article-body {
        font > br, font > div > img {
            display: none;
        }
    }

    .read-more {
        a {
            color: darken($font-color-title,10%);
             margin-bottom:12px !important;
        }
    }
}
